body{
   background-color: rgb(235, 255, 235);
}

#menu-direito{
    height:50vh;
    padding: 10px 10px 10px 10px;
    float:right;
    text-align: center;
    background-color: rgb(235, 255, 235);
}


#bola {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 10px;
}

#jog1,
#jog2 {
    width: 20px;
    height: 140px;
    background-color: #000;
}

#campo {
    width: 960px;
    height: 500px;
    border: 1px solid #000;
	margin-left=250px;
}

.rodape {
    font-size: smaller;
    align-items: center;
    margin-top: 520px;
    position: absolute;
}

